# BTC price (91 Days) Data Extraction, Load to BigQuery

In [1]:
# import libraries
import requests 
import pandas as pd
import os
import pandas_gbq

## Data Extraction from Coingecko

In [6]:
# parameters set up for Data Extraction
API_KEY = os.environ.get('GECKO_API_KEY')
if not API_KEY:
    raise ValueError("Error: GECKO_API_KEY environment variable not set.")

COIN_ID = "bitcoin"
DAYS_OF_DATA = "91"

url = f"https://api.coingecko.com/api/v3/coins/{COIN_ID}/market_chart"

In [56]:
params = {
    'vs_currency': 'usd',
    'days': DAYS_OF_DATA,
    'interval': 'daily', 
    'x_cg_demo_api_key': API_KEY
}
print("Attempting to call API with our key...")

# ----------------------------------------------------------------

# request data
response = requests.get(url, params=params)

if response.status_code == 200:
    print("Success! Data received.")
else:
    print(f"Error: Failed to get data. Status code: {response.status_code}")
    print(response.text)

Attempting to call API with our key...
Success! Data received.

In [46]:
data = response.json()
data

{'prices': [[1754784000000, 116510.08393213755],
  [1754870400000, 119266.92516880555],
  [1754956800000, 118773.79960860992],
  [1755043200000, 120202.53485503166],
  [1755129600000, 123560.99363577305],
  [1755216000000, 118405.59579823953],
  [1755302400000, 117339.79190213277],
  [1755388800000, 117501.21653394958],
  [1755475200000, 117542.83687778088],
  [1755561600000, 116256.41276740946],
  [1755648000000, 112778.34483555844],
  [1755734400000, 114252.39755195397],
  [1755820800000, 112414.39987336512],
  [1755907200000, 116834.24948202295],
  [1755993600000, 115359.98346714744],
  [1756080000000, 113399.54847314971],
  [1756166400000, 110185.35443900425],
  [1756252800000, 111842.70999260596],
  [1756339200000, 111216.08479629169],
  [1756425600000, 112525.59740669793],
  [1756512000000, 108480.30666639366],
  [1756598400000, 108781.95727925687],
  [1756684800000, 108253.36092385623],
  [1756771200000, 109162.68557992298],
  [1756857600000, 111190.18209845416],
  [1756944000000, 111711.51977725117],
  [1757030400000, 110724.736377486],
  [1757116800000, 110662.18112628513],
  [1757203200000, 110209.1888247784],
  [1757289600000, 111131.9923868407],
  [1757376000000, 112025.12878118771],
  [1757462400000, 111547.43956434788],
  [1757548800000, 113975.32489468766],
  [1757635200000, 115503.16663193036],
  [1757721600000, 116160.14344594491],
  [1757808000000, 115970.58488443034],
  [1757894400000, 115373.55555886829],
  [1757980800000, 115397.25272727509],
  [1758067200000, 116762.8496864193],
  [1758153600000, 116455.94648225319],
  [1758240000000, 117145.49508952006],
  [1758326400000, 115655.81046441344],
  [1758412800000, 115715.51536781774],
  [1758499200000, 115304.47999407038],
  [1758585600000, 112696.74101711863],
  [1758672000000, 112022.16587861195],
  [1758758400000, 113320.56908541008],
  [1758844800000, 108963.53013595635],
  [1758931200000, 109710.20874667744],
  [1759017600000, 109654.81021075726],
  [1759104000000, 112142.57362752674],
  [1759190400000, 114309.15041119447],
  [1759276800000, 114024.22783550054],
  [1759363200000, 118503.24451752483],
  [1759449600000, 120611.71911591051],
  [1759536000000, 122250.15186842803],
  [1759622400000, 122380.93708463266],
  [1759708800000, 123506.18520027678],
  [1759795200000, 124773.50823074432],
  [1759881600000, 121518.75593575071],
  [1759968000000, 123352.50487523204],
  [1760054400000, 121698.03066778315],
  [1760140800000, 113201.74064138904],
  [1760227200000, 110853.11663883903],
  [1760313600000, 115189.5714637257],
  [1760400000000, 115222.28302116522],
  [1760486400000, 113156.56943826913],
  [1760572800000, 110708.66960879423],
  [1760659200000, 108076.72862033188],
  [1760745600000, 106443.61194984635],
  [1760832000000, 107156.00337647724],
  [1760918400000, 108621.134857428],
  [1761004800000, 110608.5714932665],
  [1761091200000, 108486.10262716639],
  [1761177600000, 107618.4266715404],
  [1761264000000, 110048.51827291629],
  [1761350400000, 110997.80437129698],
  [1761436800000, 111620.3093731354],
  [1761523200000, 114476.01227508577],
  [1761609600000, 114182.79442806762],
  [1761696000000, 112950.34863259472],
  [1761782400000, 110046.66925837283],
  [1761868800000, 108240.76528725718],
  [1761955200000, 109573.90555629115],
  [1762041600000, 110014.13556776087],
  [1762128000000, 110650.2092823146],
  [1762214400000, 106521.08673825761],
  [1762300800000, 101635.2740227234],
  [1762387200000, 103877.95965955159],
  [1762473600000, 101322.6402945857],
  [1762560000000, 103396.084215925],
  [1762602013000, 102147.78669531141]],
 'market_caps': [[1754784000000, 2318815857401.68],
  [1754870400000, 2374097296837.8896],
  [1754956800000, 2364060561672.9995],
  [1755043200000, 2392854421745.6157],
  [1755129600000, 2458895200752.567],
  [1755216000000, 2360043737045.272],
  [1755302400000, 2335290383260.173],
  [1755388800000, 2339465736068.208],
  [1755475200000, 2340648324181.828],
  [1755561600000, 2313556987528.4634],
  [1755648000000, 2245419916215.7417],
  [1755734400000, 2274471285844.184],
  [1755820800000, 2238121481749.57],
  [1755907200000, 2326174803320.612],
  [1755993600000, 2296786080139.701],
  [1756080000000, 2259663171125.389],
  [1756166400000, 2194453712375.598],
  [1756252800000, 2227025695775.593],
  [1756339200000, 2215255294289.9937],
  [1756425600000, 2239422945686.892],
  [1756512000000, 2160278651486.2852],
  [1756598400000, 2166165747945.1812],
  [1756684800000, 2155694976689.5986],
  [1756771200000, 2174100506466.4321],
  [1756857600000, 2212595221503.454],
  [1756944000000, 2225365905592.233],
  [1757030400000, 2204051936301.3257],
  [1757116800000, 2204045604630.5625],
  [1757203200000, 2195288669199.568],
  [1757289600000, 2213764479139.3647],
  [1757376000000, 2231763512226.867],
  [1757462400000, 2222026777598.0474],
  [1757548800000, 2270241314652.7144],
  [1757635200000, 2299764311655.674],
  [1757721600000, 2314347371939.946],
  [1757808000000, 2310166037871.29],
  [1757894400000, 2297459118244.424],
  [1757980800000, 2297977599504.5527],
  [1758067200000, 2325326932460.9644],
  [1758153600000, 2321583680138.891],
  [1758240000000, 2333705338232.097],
  [1758326400000, 2303469041668.8],
  [1758412800000, 2305371926506.302],
  [1758499200000, 2297332085237.645],
  [1758585600000, 2245929069310.8535],
  [1758672000000, 2232693472656.6514],
  [1758758400000, 2257741194218.8286],
  [1758844800000, 2171950311711.4429],
  [1758931200000, 2185866776171.5464],
  [1759017600000, 2185203231301.0562],
  [1759104000000, 2235798877396.134],
  [1759190400000, 2278362523594.3135],
  [1759276800000, 2272137555069.4507],
  [1759363200000, 2359569556068.08],
  [1759449600000, 2399524207991.5527],
  [1759536000000, 2436956902844.7153],
  [1759622400000, 2438832157552.7866],
  [1759708800000, 2461221856764.1885],
  [1759795200000, 2486073086655.2866],
  [1759881600000, 2421938444026.2783],
  [1759968000000, 2459003621170.118],
  [1760054400000, 2423288659157.484],
  [1760140800000, 2265659827789.9917],
  [1760227200000, 2211404015103.109],
  [1760313600000, 2294724465036.9785],
  [1760400000000, 2296863527017.9863],
  [1760486400000, 2257545230986.0146],
  [1760572800000, 2207742082237.0483],
  [1760659200000, 2154964541836.455],
  [1760745600000, 2123017949517.1426],
  [1760832000000, 2135575517405.9185],
  [1760918400000, 2165367850075.0042],
  [1761004800000, 2205571381112.93],
  [1761091200000, 2162410619417.9114],
  [1761177600000, 2145773248654.6448],
  [1761264000000, 2193901841033.9053],
  [1761350400000, 2213306367536.756],
  [1761436800000, 2224861052775.0015],
  [1761523200000, 2283691326423.212],
  [1761609600000, 2276235094681.6714],
  [1761696000000, 2254003248725.4917],
  [1761782400000, 2194746293754.542],
  [1761868800000, 2157803742876.0747],
  [1761955200000, 2185193896779.3408],
  [1762041600000, 2194075979770.0623],
  [1762128000000, 2201849942058.28],
  [1762214400000, 2123664079961.7026],
  [1762300800000, 2026091188341.184],
  [1762387200000, 2073000557933.8025],
  [1762473600000, 2019147576692.263],
  [1762560000000, 2063021740892.1375],
  [1762602013000, 2041373427229.928]],
 'total_volumes': [[1754784000000, 27638785406.21056],
  [1754870400000, 37157754754.85189],
  [1754956800000, 61739781527.95854],
  [1755043200000, 46941089789.57991],
  [1755129600000, 61818118105.53991],
  [1755216000000, 73822008367.99681],
  [1755302400000, 44268714220.021],
  [1755388800000, 23202714236.542347],
  [1755475200000, 20906566026.645443],
  [1755561600000, 47337926940.98573],
  [1755648000000, 46156885037.403885],
  [1755734400000, 42166369117.006935],
  [1755820800000, 32048202090.65466],
  [1755907200000, 50878158870.82928],
  [1755993600000, 27306719885.257973],
  [1756080000000, 40682656776.69001],
  [1756166400000, 52854872363.936554],
  [1756252800000, 43023800053.0546],
  [1756339200000, 36957904262.995804],
  [1756425600000, 34222495087.206894],
  [1756512000000, 51702115726.38959],
  [1756598400000, 27799981330.792213],
  [1756684800000, 26140904019.246822],
  [1756771200000, 42999610648.39302],
  [1756857600000, 50235464642.845955],
  [1756944000000, 36406080683.42747],
  [1757030400000, 38708366685.43147],
  [1757116800000, 56020470627.40665],
  [1757203200000, 19340758702.076332],
  [1757289600000, 22147049159.335133],
  [1757376000000, 37159847899.8603],
  [1757462400000, 45338021458.38368],
  [1757548800000, 52205187155.05567],
  [1757635200000, 43752917632.95067],
  [1757721600000, 51192951485.864395],
  [1757808000000, 30063858747.76022],
  [1757894400000, 26889399414.610912],
  [1757980800000, 46947581231.08198],
  [1758067200000, 39964451595.099724],
  [1758153600000, 54740952295.37868],
  [1758240000000, 43642467075.25838],
  [1758326400000, 34296721252.33001],
  [1758412800000, 18774953731.290394],
  [1758499200000, 18659113982.495464],
  [1758585600000, 69152342029.46799],
  [1758672000000, 46154878824.043465],
  [1758758400000, 46677543220.334526],
  [1758844800000, 74481796351.47305],
  [1758931200000, 55257214020.568245],
  [1759017600000, 23294896964.31016],
  [1759104000000, 31274654338.51212],
  [1759190400000, 57833295882.65785],
  [1759276800000, 57718901820.70616],
  [1759363200000, 69920179085.4708],
  [1759449600000, 71252850672.75252],
  [1759536000000, 83155430408.51796],
  [1759622400000, 35161626561.80918],
  [1759708800000, 72011486031.26575],
  [1759795200000, 69605991064.72382],
  [1759881600000, 76087884719.80028],
  [1759968000000, 62576032795.36722],
  [1760054400000, 72097306668.91356],
  [1760140800000, 151002213089.8765],
  [1760227200000, 108643865752.17674],
  [1760313600000, 93857100744.12454],
  [1760400000000, 68935270367.04033],
  [1760486400000, 91211854988.91518],
  [1760572800000, 68877328886.40259],
  [1760659200000, 84773160808.27399],
  [1760745600000, 94325236794.78163],
  [1760832000000, 34412835719.61292],
  [1760918400000, 45373692612.394394],
  [1761004800000, 60452111148.140076],
  [1761091200000, 105841401713.00197],
  [1761177600000, 83996418125.93103],
  [1761264000000, 56192643013.57058],
  [1761350400000, 49120903424.344864],
  [1761436800000, 23214874411.212166],
  [1761523200000, 42483268634.18711],
  [1761609600000, 63764801510.65889],
  [1761696000000, 66299512352.17796],
  [1761782400000, 64235327509.05742],
  [1761868800000, 72648897659.94229],
  [1761955200000, 58800487940.5146],
  [1762041600000, 24938475577.849922],
  [1762128000000, 35098774843.7742],
  [1762214400000, 75068433317.86293],
  [1762300800000, 108965721650.60309],
  [1762387200000, 77083907216.62631],
  [1762473600000, 64118217249.57436],
  [1762560000000, 93627003785.31018],
  [1762602013000, 80426383516.61554]]}

In [47]:
# Data view in Dataframe
pd.DataFrame(data['prices']).head()

               0              1
0  1754784000000  116510.083932
1  1754870400000  119266.925169
2  1754956800000  118773.799609
3  1755043200000  120202.534855
4  1755129600000  123560.993636

In [48]:
# selecting just price and date data
price_data = data['prices']

# changing column name
df = pd.DataFrame(price_data, columns=['timestamp', 'price'])
df.head()

       timestamp          price
0  1754784000000  116510.083932
1  1754870400000  119266.925169
2  1754956800000  118773.799609
3  1755043200000  120202.534855
4  1755129600000  123560.993636

In [49]:
# converting date, from milisecond to day_time format
df['date'] = pd.to_datetime(df['timestamp'], unit='ms')
final_df = df[['date', 'price']]

final_df.head()

        date          price
0 2025-08-10  116510.083932
1 2025-08-11  119266.925169
2 2025-08-12  118773.799609
3 2025-08-13  120202.534855
4 2025-08-14  123560.993636

## Loading data into Warehouse (BigQuery)

In [51]:
# setting up parameters to load data to GBQ
GCP_PROJECT_ID = "silken-apex-477018-d4"
destination_table = "dbt_bootcamp.raw_coingecko_bitcoin"
    
print(f"Attempting to load data into BigQuery table: {destination_table}")

# Loading Data
pandas_gbq.to_gbq(
    final_df,
    destination_table=destination_table,
    project_id=GCP_PROJECT_ID,
    if_exists='replace'
)

print("✅ Success! Data loaded into BigQuery.")

Attempting to load data into BigQuery table: dbt_bootcamp.raw_coingecko_bitcoin

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

✅ Success! Data loaded into BigQuery.